name: CI - Verification HTML

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-html:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: HTML validation
        uses: Cyb3r-Jak3/html5validator-action@v0.6
        with:
          root: .
